body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #aa5b56;
    font: 62.5% "open-sans", sans-serif;
}

/* ~~~~~~~~~~~~~~
     Button
~~~~~~~~~~~~~~ */
.btn {
    height: 42px;
    line-height: 42px;
    display: block;
    margin: 2em;
    padding: 0 2em;
    border-radius: 2px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    transition: background 0.25s ease-in-out;
}

[animation] {
    position: relative;
    overflow: hidden;
}

/* ~~~~~~~~~~~~~~
     Colors
~~~~~~~~~~~~~~ */
.btn-blue {
    background: #00bcd4;
}
.btn-blue:hover {
    background: #008fa1;
}

.btn-green {
    background: #4caf50;
}
.btn-green:hover {
    background: #3d8b40;
}

/* ~~~~~~~~~~~~~~
  Ripple Effect
~~~~~~~~~~~~~~ */
.ripple {
    width: 2px;
    height: 2px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: rippleEffect 0.5s ease-in-out;
}

@keyframes rippleEffect {
    0% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(var(--scale));
    }
}